body {
  overflow-x: hidden;
}
.text-gradient {
  text-transform: uppercase;
  background: linear-gradient(to right, #2027ea 0%, #4e83ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  display: inline;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
}
